---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: gregyankovoy/chowdown:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/chowdown/config:/config"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.chowdown.loadbalancer.server.scheme=http"
      - "traefik.http.services.chowdown.loadbalancer.server.port=4000"
      - "traefik.http.routers.chowdown-http.rule=Host(`{{ chowdown.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.chowdown-http.entrypoints=http"
{% if not chowdown.https_only %}
      - "traefik.http.routers.chowdown-http.middlewares={% if chowdown.https_only %}redirect@file, {% else %}{% if chowdown.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.chowdown-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.chowdown.rule=Host(`{{ chowdown.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.chowdown.entrypoints=https"
      - "traefik.http.routers.chowdown.middlewares={% if chowdown.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.chowdown.tls=true"
{% if traefik.dns_challenge_provider %}
        - "traefik.http.routers.chowdown.tls.certresolver=dns"
        - "traefik.http.routers.chowdown.tls.domains[0].main={{ domain }}"
        - "traefik.http.routers.chowdown.tls.domains[0].sans=*.{{ domain }}"
{% else %}
        - "traefik.http.routers.chowdown.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
        - "traefik.http.routers.chowdown-tor-http.rule=Host(`{{ chowdown.subdomain }}.{{ tor_domain }}`)"
        - "traefik.http.routers.chowdown-tor-http.entrypoints=http"
        - "traefik.http.routers.chowdown-tor-http.middlewares={% if chowdown.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
