---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  trilium:
    image: 'zadam/trilium:latest'
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/trilium/trilium-data:/root/trilium-data"
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.trilium.loadbalancer.server.scheme=http"
      - "traefik.http.services.trilium.loadbalancer.server.port=8080"
      - "traefik.http.routers.trilium-http.rule=Host(`{{ trilium.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.trilium-http.entrypoints=http"
{% if not trilium.https_only %}
      - "traefik.http.routers.trilium-http.middlewares={% if trilium.https_only %}redirect@file, {% else %}{% if trilium.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.trilium-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.trilium.rule=Host(`{{ trilium.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.trilium.entrypoints=https"
      - "traefik.http.routers.trilium.middlewares={% if trilium.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.trilium.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.trilium.tls.certresolver=dns"
      - "traefik.http.routers.trilium.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.trilium.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.trilium.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.trilium-tor-http.rule=Host(`{{ trilium.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.trilium-tor-http.entrypoints=http"
      - "traefik.http.routers.trilium-tor-http.middlewares={% if trilium.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
