---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # S3 Storage for Backups via Restic
  minio:
    image: minio/minio
    networks:
      - traefik_network
    restart: unless-stopped
    command: server /data
    volumes:
      - "{{ storage_dir }}/Backups/minio:/data"
      - "{{ volumes_root }}/minio/config:/root/.minio/"
    ports:
      - 9110:9000
    environment:
      MINIO_UID: {{ uid_output.stdout }}
      MINIO_GID: {{ gid_output.stdout }}
      MINIO_ACCESS_KEY: {{minio_access_key}}
      MINIO_SECRET_KEY: {{minio_secret_access_key}}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.minio.loadbalancer.server.scheme=http"
      - "traefik.http.services.minio.loadbalancer.server.port=9000"
      - "traefik.http.routers.minio-http.rule=Host(`{{ minio.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.minio-http.entrypoints=http"
{% if not minio.https_only %}
      - "traefik.http.routers.minio-http.middlewares={% if minio.https_only %}redirect@file, {% else %}{% if minio.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.minio-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.minio.rule=Host(`{{ minio.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.minio.entrypoints=https"
      - "traefik.http.routers.minio.middlewares={% if minio.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.minio.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.minio.tls.certresolver=dns"
      - "traefik.http.routers.minio.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.minio.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.minio.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.minio-tor-http.rule=Host(`{{ minio.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.minio-tor-http.entrypoints=http"
      - "traefik.http.routers.minio-tor-http.middlewares={% if minio.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
