---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Personal Relationship Database
  monicahq:
    image: monicahq/monicahq
    networks:
      - traefik_network
    restart: unless-stopped
    depends_on:
      - monicahq_db
    ports:
      - 8176:80
    volumes:
      - "{{ volumes_root }}/monicahq/storage/app/public:/var/www/monica/storage/app/public"
    env_file:
      - "{{ volumes_root }}/monicahq/monicahq.env"
    environment:
      - APP_KEY="{{lookup('password', './settings/passwords/monicahq_app_key chars=digits length=32')}}"
      - DB_PASSWORD="{{lookup('password', './settings/passwords/monicahq_db_password chars=digits')}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.monicahq.loadbalancer.server.scheme=http"
      - "traefik.http.services.monicahq.loadbalancer.server.port=80"
      - "traefik.http.routers.monicahq-http.rule=Host(`{{ monicahq.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.monicahq-http.entrypoints=http"
{% if not monicahq.https_only %}
      - "traefik.http.routers.monicahq-http.middlewares={% if monicahq.https_only %}redirect@file, {% else %}{% if monicahq.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.monicahq-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.monicahq.rule=Host(`{{ monicahq.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.monicahq.entrypoints=https"
      - "traefik.http.routers.monicahq.middlewares={% if monicahq.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.monicahq.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.monicahq.tls.certresolver=dns"
      - "traefik.http.routers.monicahq.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.monicahq.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.monicahq.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.monicahq-tor-http.rule=Host(`{{ monicahq.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.monicahq-tor-http.entrypoints=http"
      - "traefik.http.routers.monicahq-tor-http.middlewares={% if monicahq.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  monicahq_db:
    image: mariadb
    networks:
      - traefik_network
    restart: unless-stopped
    env_file:
      - "{{ volumes_root }}/monicahq/monicahq.env"
    environment:
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/monicahq_db_password chars=digits')}}"
    volumes:
      - "{{ volumes_root }}/monicahq/mysql:/var/lib/mysql"
