---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: linuxserver/healthchecks
    networks:
      - traefik_network
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - SITE_ROOT={{ healthchecks.subdomain }}.{{ domain }}
      - SITE_NAME={{ healthchecks.subdomain }}.{{ domain }}
      - DEFAULT_FROM_EMAIL={{smtp.from_email}}
      - EMAIL_HOST={{smtp.host}}
      - EMAIL_PORT={{smtp.port}}
      - EMAIL_HOST_USER={{smtp.user}}
      - EMAIL_HOST_PASSWORD={{smtp.pass}}
      - EMAIL_USE_TLS=False
    volumes:
      - "{{ volumes_root }}/healthchecks/config:/config"

    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.healthchecks.loadbalancer.server.scheme=http"
      - "traefik.http.services.healthchecks.loadbalancer.server.port=8000"
      - "traefik.http.routers.healthchecks-http.rule=Host(`{{ healthchecks.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.healthchecks-http.entrypoints=http"
{% if not healthchecks.https_only %}
      - "traefik.http.routers.healthchecks-http.middlewares={% if healthchecks.https_only %}redirect@file, {% else %}{% if healthchecks.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.healthchecks-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.healthchecks.rule=Host(`{{ healthchecks.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.healthchecks.entrypoints=https"
      - "traefik.http.routers.healthchecks.middlewares={% if healthchecks.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.healthchecks.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.healthchecks.tls.certresolver=dns"
      - "traefik.http.routers.healthchecks.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.healthchecks.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.healthchecks.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.healthchecks-tor-http.rule=Host(`{{ healthchecks.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.healthchecks-tor-http.entrypoints=http"
      - "traefik.http.routers.healthchecks-tor-http.middlewares={% if healthchecks.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
