---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  database:
    image: 'zulip/zulip-postgresql'
    networks:
      - traefik_network
    environment:
      POSTGRES_DB: 'zulip'
      POSTGRES_USER: 'zulip'
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/zulip_db_password chars=digits')}}"
    volumes:
      - '{{ volumes_root }}/zulip/postgresql:/var/lib/postgresql/data:rw'

  memcached:
    image: 'quay.io/sameersbn/memcached:latest'
    networks:
      - traefik_network
    restart: always

  rabbitmq:
    image: 'rabbitmq:3.7.7'
    networks:
      - traefik_network
    hostname: zulip-rabbit
    restart: always
    environment:
        RABBITMQ_DEFAULT_USER: 'zulip'
        RABBITMQ_DEFAULT_PASS: "{{lookup('password', './settings/passwords/zulip_rabbitmq_password chars=digits')}}"
    volumes:
      - '{{ volumes_root }}/zulip/rabbitmq:/var/lib/rabbitmq:rw'

  redis:
    image: 'quay.io/sameersbn/redis:latest'
    networks:
      - traefik_network
    volumes:
      - '{{ volumes_root }}/zulip/redis:/var/lib/redis:rw'

  zulip:
    image: 'zulip/docker-zulip:2.0.2-0'
    networks:
      - traefik_network
    environment:
      DB_HOST: 'database'
      DB_HOST_PORT: '5432'
      DB_USER: 'zulip'
      SSL_CERTIFICATE_GENERATION: 'self-signed'
      DISABLE_HTTPS: 'True'
      SETTING_MEMCACHED_LOCATION: 'memcached:11211'
      SETTING_RABBITMQ_HOST: 'rabbitmq'
      SETTING_REDIS_HOST: 'redis'
      SECRETS_email_password: '123456789'
      SECRETS_rabbitmq_password: "{{lookup('password', './settings/passwords/zulip_rabbitmq_password chars=digits')}}"
      SECRETS_postgres_password: "{{lookup('password', './settings/passwords/zulip_db_password chars=digits')}}"
      SECRETS_secret_key: "{{lookup('password', './settings/passwords/zulip_secret_key chars=digits')}}"
      SETTING_EXTERNAL_HOST: '{{ zulip.subdomain }}.{{ domain }}'
      SETTING_ZULIP_ADMINISTRATOR: 'admin@example.com'
      SETTING_EMAIL_HOST: ''  # e.g. smtp.example.com
      SETTING_EMAIL_HOST_USER: 'noreply@example.com'
      SETTING_EMAIL_PORT: '587'
      # It seems that the email server needs to use ssl or tls and can't be used without it
      SETTING_EMAIL_USE_SSL: 'False'
      SETTING_EMAIL_USE_TLS: 'True'
      ZULIP_AUTH_BACKENDS: 'EmailAuthBackend'
      # Uncomment this when configuring the mobile push notifications service
      # SETTING_PUSH_NOTIFICATION_BOUNCER_URL: 'https://push.zulipchat.com'
    volumes:
      - '{{ volumes_root }}/zulip/zulip:/data:rw'
    ulimits:
      nofile:
        soft: 40000
        hard: 50000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.zulip.loadbalancer.server.scheme=http"
      - "traefik.http.services.zulip.loadbalancer.server.port=80"
      - "traefik.http.routers.zulip-http.rule=Host(`{{ zulip.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.zulip-http.entrypoints=http"
{% if not zulip.https_only %}
      - "traefik.http.routers.zulip-http.middlewares={% if zulip.https_only %}redirect@file, {% else %}{% if zulip.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.zulip-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.zulip.rule=Host(`{{ zulip.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.zulip.entrypoints=https"
      - "traefik.http.routers.zulip.middlewares={% if zulip.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.zulip.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.zulip.tls.certresolver=dns"
      - "traefik.http.routers.zulip.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.zulip.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.zulip.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.zulip-tor-http.rule=Host(`{{ zulip.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.zulip-tor-http.entrypoints=http"
      - "traefik.http.routers.zulip-tor-http.middlewares={% if zulip.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
