---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Sync Server
  syncthing:
    image: linuxserver/syncthing
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - {{ volumes_root }}/syncthing/config:/config
      - {{ storage_dir }}/Documents/Syncthing:/data
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    ports:
      - 22000:22000
      - 21027:21027/udp
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.syncthing.loadbalancer.server.scheme=http"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
      - "traefik.http.routers.syncthing-http.rule=Host(`{{ syncthing.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.syncthing-http.entrypoints=http"
{% if not syncthing.https_only %}
      - "traefik.http.routers.syncthing-http.middlewares={% if syncthing.https_only %}redirect@file, {% else %}{% if syncthing.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.syncthing-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.syncthing.rule=Host(`{{ syncthing.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.syncthing.entrypoints=https"
      - "traefik.http.routers.syncthing.middlewares={% if syncthing.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.syncthing.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.syncthing.tls.certresolver=dns"
      - "traefik.http.routers.syncthing.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.syncthing.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.syncthing.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.syncthing-tor-http.rule=Host(`{{ syncthing.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.syncthing-tor-http.entrypoints=http"
      - "traefik.http.routers.syncthing-tor-http.middlewares={% if syncthing.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
