---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Web based KVM manager
  app:
    image: odivlad/webvirtmgr
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - '{{ volumes_root }}/webvirtmgr/data:/data/'
    environment:
      - WEBVIRTMGR_ADMIN_USERNAME=admin
      - WEBVIRTMGR_ADMIN_EMAIL=admin@local.domain
      - WEBVIRTMGR_ADMIN_PASSWORD="{{lookup('password', './settings/passwords/webvirtmgr_db_password chars=digits')}}"
    ports:
      - '8000:8000'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.webvirtmgr.loadbalancer.server.scheme=http"
      - "traefik.http.services.webvirtmgr.loadbalancer.server.port=8000"
      - "traefik.http.routers.webvirtmgr-http.rule=Host(`{{ webvirtmgr.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.webvirtmgr-http.entrypoints=http"
{% if not webvirtmgr.https_only %}
      - "traefik.http.routers.webvirtmgr-http.middlewares={% if webvirtmgr.https_only %}redirect@file, {% else %}{% if webvirtmgr.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.webvirtmgr-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.webvirtmgr.rule=Host(`{{ webvirtmgr.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.webvirtmgr.entrypoints=https"
      - "traefik.http.routers.webvirtmgr.middlewares={% if webvirtmgr.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.webvirtmgr.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.webvirtmgr.tls.certresolver=dns"
      - "traefik.http.routers.webvirtmgr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.webvirtmgr.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.webvirtmgr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.webvirtmgr-tor-http.rule=Host(`{{ webvirtmgr.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.webvirtmgr-tor-http.entrypoints=http"
      - "traefik.http.routers.webvirtmgr-tor-http.middlewares={% if webvirtmgr.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
